.forecast {
	padding-top: 3rem;
	min-height: 553.438px;
	position: relative;
	display: block;
	
		@include max-down(768px) {
			min-height: 430px;
		}
}

.day-wrapper {
	position: relative;
	display: block;
}

.location {
	@extend %centered;
}

.seven-day {
	list-style: none;
	padding-left: 0;
	margin-bottom: 10rem;
	@extend %centered;
	position: absolute;
	width: 100%;
	overflow: hidden;
	transition: opacity 1s, transform 1s;
}

.day {
	width: 13%;
	display: inline-block;
	padding: 0 1.5rem;
// 	background-color: rgba(252,252,252, .6);

	@include max-down(768px) {
		width: 75%;
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}

.weekday {
	font-size: 1.5rem;
}

.temperature-heading,
.wind-heading {
	margin-bottom: 0;
	font-weight: 500;
}

.temperature {
	margin-bottom: 2rem;
}

.temperature,
.wind {
	font-size: 1rem;
}

.icon {
	margin-top: 2rem;
}

