*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
}

.body-wrapper {
	background-color: rgba(252,252,252, .6);
	height: auto;
//     padding-bottom: 6rem;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../../img/skyandclouds.png') no-repeat;
    background-size: cover; 
}