.main-header {
	height: auto;
// 	background-color: rgba(252,252,252, .6);
	position: relative;
    bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-heading,
.btn-row {
	
}

.main-heading {
	@extend %centered;
// 	color: rgb(252,252,252);
}

.search-form {
// 	@extend %centered;
	padding-bottom: 2rem;
	position: absolute;
	left: 38%;
}