.main-header {
	height: auto;
// 	background-color: rgba(252,252,252, .6);
/*
	position: relative;
    bottom: 2rem;
*/
	display: block;
    padding-top: 1rem;
    padding-bottom: 1rem; 
/*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
*/
}

.main-heading {
	margin-top: 0;
	padding-left: 2rem;
 	
// 	color: rgb(252,252,252);
	margin-bottom: 0;
	
	@include max-down(768px) {
		text-align: center;
		padding-left: 0;
	}
}

.search-form {
	float: right;
	padding-top: .5rem;
	padding-right: 2rem;
// 	@extend %centered;
// 	padding-bottom: 2rem;
/*
	position: absolute;
	left: 38%;
*/
}

.search {
	position: relative;
	top: .25rem;
}

.location {
	margin: 0 .5rem;
}

.main-heading,
.search-form,
.btn-row {
	display: inline-block;
	
	@include max-down(768px) {
		display: block;
	}
}