/* Header Section */

.main-header {
	height: auto;
	display: block;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.main-heading {
	margin-top: 0;
	padding-left: 2rem;
	margin-bottom: 0;
	
	@include max-down(768px) {
		text-align: center;
		padding-left: 0;
	}
}

.search-form {
	float: right;
	padding-top: .5rem;
	padding-right: 2rem;
}

.search {
	position: relative;
	top: .25rem;
}

.location {
	margin: 0 .5rem;
}

.main-heading,
.search-form,
.btn-row {
	display: inline-block;
	
	@include max-down(768px) {
		display: block;
	}
}